@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Please <a href="@Url.Content("~/Account/Login")">Login</a> to an account or <a href="@Url.Content("~/Account/Register")">register</a> an account before checking out or accessing the Store Manager. <br/>
    Note: For the store manager, you must register and login as 'Administrator'
</p>
